DB_NAME=pos_beta
DB_USER=root
DB_PASS=
DB_HOST=localhost
PORT=5000


NOTIFY_API_KEY=f2KY0MyZ55JZpU9v2ZmN
NOTIFY_SENDER_ID=NotifyDEMO
NOTIFY_USER_ID=30702


# Steps: Google Account → Security → 2-Step Verification → App passwords
EMAIL_USER=janarthanr.pineappleai@gmail.com
EMAIL_PASS=zjel hkwr hofo ifrh

#hgghhhhghgg

GOOGLE_CLIENT_ID=8909942736-g3vmhrut3008qm7pdbnundi1niq4egdr.apps.googleusercontent.com
# GOOGLE_CLIENT_ID=8909942736-odfsu22luvtunb4lq0u92715fscvduec.apps.googleusercontent.com

JWT_SECRET=your-super-secret-key-change-this-in-production
JWT_REFRESH_SECRET=your-refresh-secret-key-change-this-too
NODE_ENV=development